@import "tailwindcss";

@keyframes move-left {
  from { transform: translateX(0); right: 0%; }
  to { transform: translateX(-1000px); right: 100%; }
}

body {
  background-color: #020617;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}